.modal-content-video{
	background-color: transparent;
	box-shadow: 0 0px 0px rgba(0,0,0,0);
	border: 0;
}

.modal-body-video{
	padding: 0;
}

.content {
	text-align: center;
}

body{
	background-color: #fcfcf1;
}

.form-control{
	max-width: 650px;
	margin: auto;
}