<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Text2Hand</title>
	<!-- Bootstrap core CSS -->
	<link rel = 'stylesheet' href= "{{url_for('static', filename='css/bootstrap.min.css')}}"/>
	<!-- Custom styles for this template -->
	<link rel = 'stylesheet' href= "{{url_for('static', filename='css/dashboard.css')}}"/>
	<link rel = 'stylesheet' href= "{{url_for('static', filename='css/main.css')}}"/>
	<!-- Just for debugging purposes. Don't actually copy this line! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<!-- 	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Text2Hand</a>
			</div>
			<div class="navbar-collapse collapse">

				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="Search...">
				</form>
			</div>
		</div>
	</div> -->


	<div class="container-fluid">

		<div class="row content">
		<!-- 	<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="#">Videos</a></li>
				</ul>
			</div> -->
			<img src="{{url_for('static', filename='images/text2hands_logo.png')}}" class='logo'alt="some_text">
			<div class="col-md-12">

				<p><br><button id="startStopButton" class="btn btn-default">Start</button><br></p>
				<p>
					<input type="image" id="startStopButton"  src="{{url_for('static', filename='images/microphone.png')}}" name="image" width="32" height="32">
				
					<textarea id="transcript" class="form-control"style="height: 100px" ></textarea>
				</p>
				<button id="translate" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">show me the hands!</button>

				<p><strong>English -> ASL:</strong></p>
				<form name="input" method="POST" action="/sendmail">
					<input type="text" name="to" class="form-control" placeholder="TO"> <br>
					<input type="text" name="subject" placeholder="SUBJECT" class="form-control"><br>
					<input type="hidden" name="filename" placehorlder="video" class="form-control"><br>
					<input type="submit" value="SEND" class="btn btn-default" >
				</form>
			</div>
		</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	  <div class="modal-dialog">
	    <div class="modal-content">
	     <div class="modal-body">
	        <video  width="100%" height="100%"controls autoplay>
			  <source src="{{url_for('static', filename='videos/1396164424.32.mp4')}}" type="video/mp4">
			</video>	      
		</div>
	    </div>
	  </div>
	</div>


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/docs.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/coffee-script-1.4.0.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/recognition.js')}}"></script>
		<script src="{{url_for('static', filename='js/main.js')}}"></script>
	</body>
</html>